name: Fraud MLOps CI

on:
  push:
    branches: [ "main" ]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build API image
        run: docker build -t fraud-api .

      - name: Build UI image
        run: docker build -t fraud-ui -f Dockerfile.ui .